<html>
<title> CHART !! </title>

<script src="js_packages/jquery.js"></script>
<script src="js_packages/highcharts.js"></script>
<script src="js_packages/highcharts-3d.js"></script>
<script src="js_packages/exporting.js"></script>

<div id="container" style="height: 400px"></div>
<script type="text/javascript">
$(function() {
var responseJSON;
	var promise = $.ajax({
	    //url: 'http://localhost/bar_chart.py',
	    url: 'http://localhost/highcharts/bar_chart.py',
	    type: 'GET',
	    dataType: 'json',
	async: false
	});
    promise.done(function(response) {
	console.log("response",response);
	result=[];
	for (var i = 0; i < response.length; i++) {
		dict={};
    		var name_data = response[i];
    		name = name_data[0];
    		data = name_data[1];
		console.log("name",name);
		console.log("data",data);
		dict["name"] = name;
		dict["data"] = data;
		console.log("dict",dict);
		result.push(dict);
	}
	console.log("result",result);});
    promise.fail(function(xhr) {
	console.log("fail");
    });

    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Stacked column chart'
        },
        xAxis: {
            categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total fruit consumption'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: result
    });
});
</script>
</html>
