<html>
<script src="js_packages/jquery.js"></script>
<script src="js_packages/highcharts.js"></script>
<script src="js_packages/highcharts-3d.js"></script>
<script src="js_packages/exporting.js"></script>

<script type="text/javascript">
$(function() {
var response = [['John', [5, 3, 4, 7, 2]],['Jane' , [2, 2, 3, 2, 1]],['Joe' , [3, 4, 4, 2, 5]]];
var name=[];
var data=[];
for (var i = 0; i < response.length; i++) {
    var name_data = response[i];
    name[i] = name_data[0];
    data[i] = name_data[1];
}
console.log(name);
console.log(data);
});
</script>
</html>
